@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

body {
    border: 1px solid gray;
    background: #DCDCDC;
}

* {
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
}

main {
    margin-top: 44px;
}

nav .global-nav {
    position: fixed;
    width: 100%;
    height: 48px;
    background-color: #333;
}

nav .global-nav ul {
    display: flex;
    margin: 0 auto;
    position: relative;
    height: 44px;
    justify-content: center;
}

.global-nav ul li {
    list-style: none;
    /*text-decoration: none;*/
    cursor: pointer;
    margin: 0 25px;

}

.global-nav ul li:first-child {
    margin: 7px 20px;
}



.my-photo {
    border: 1px solid white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.global-nav ul li a {
    text-decoration: none;
    font-size: 21px;
    line-height: 2.14286;
    font-weight: 400;
    letter-spacing: -.01em;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    width: 1.85714em;
}

main {
    top: 44px;
}

.parallax-wrapper {
    width: auto;
    height: 600px;
    border: 1px solid #696969;
    overflow: auto;
    white-space: nowrap;
}

.parallax-windows {
    width: 100%;
    /*height: 100%;*/
    background-color: red;
    display: inline-block;
}

.parallax-windows img {
    height: 600px;
}

header nav .nav-wrapper {
    position: fixed;
    z-index: 1;
    top: 100;
    right: 0;
    color: white;
    background: gray;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-top: 1px solid;
    width: 50px;
    height: 50px;
    border-radius: 50% 0 0 50%;
    cursor: pointer;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 50%;
    right: 20%;
    border-radius: 10%;
    transition: .5s;
}

.nav-wrapper .hamburger::after,
.nav-wrapper .hamburger::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 3px;
    background: #fff;
    transition: .5s;
}

.nav-wrapper .hamburger::before {
    top: -6;
}

.nav-wrapper .hamburger::after {
    top: 6;
}

.nav-wrapper.navClicked .hamburger {
    background: rgba(0, 0, 0, 0);
}

.nav-wrapper.navClicked .hamburger::before {
    transform: rotate(45deg);
    top: 0;
}

.nav-wrapper.navClicked .hamburger::after {
    transform: rotate(-45deg);
    top: 0;
}

.parallax {
    /*background-image: url("../images/wal01.png");*/
}

.welcomeMain {
    /*position: absolute;*/
}

.welcomeContainer {
    position: absolute;
    top: 15%;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.welcometext1 {
    /*border: 1px solid white;*/
    font-size: 50px;
    color: #fff;
    letter-spacing: 4px;
    position: absolute;
    width: 100%;
    top: 25px;
    opacity: 0;

    /*animation: myWelcomeTextFirst 3s 1;*/
    /*  animation-name: myWelcome;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-play-state: paused; */
}

.welcometext2 {
    font-size: 30px;
    color: #fff;
    position: relative;
    top: 25;
    opacity: 0;
    /*animation: myWelcomeTextSecond 3s 1;*/
}

@keyframes myWelcomeTextFirst {
    0% {
        /*color: #000;
        margin-top: 30px;
        opacity: 0;*/
    }

    100% {
        /*letter-spacing: 25px;*/
        /*margin-bottom: 0;
        color: #fff;*/
    }

}

@keyframes myWelcomeTextSecond {
    0% {
        margin-top: -30px;
        color: #000;
        opacity: 0;
        visibility: visible;
    }

    /*    50%{
        margin-top: 0px;
        opacity: 1;
        visibility: visible;
    }*/

    100% {
        /*        margin-top: -30px;
        opacity: 0;
        visibility: hidden;*/
    }
}

.firstsection {
    position: relative;
    border: 1px solid gray;
    /*background-color: #778899;*/
    background-image: url("../images/wal01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    /*display: flex;*/
    height: 600px;
    /*align-items: center;*/
}

.hi {
    position: absolute;
    top: 50%;
    margin-top: -50px;
    background-color: green;
    /*text-align: center;*/
    line-height: 100px;
    font-size: 80px;
    color: #F0FFF0;
    /*padding: 100px;*/
    /*margin-top: auto; */

}

.paragraph {
    height: 1089px;
}

@media screen and (max-width: 425){
    nav .global-nav {
        background-color: #a01818;
    }
}
